<div class="columns">
	<div class="column is-one-third">
		<input class="input" [(ngModel)]="rule.move" placeholder="move">
		<input class="input" [(ngModel)]="rule.kills" placeholder="kills">
		<button class="button" (click)="createRule()">Create Rule</button>
	</div>
	<div class="column">
		<table class="table is-striped">
			<tr>
				<th>Move</th>
				<th>Action</th>
				<th>Kills</th>
				<th>Tools</th>
			</tr>
			<tr *ngFor="let r of rules | async">
				<td>{{ r.move }}</td>
				<td>Kills</td>
				<td>{{ r.kills }}</td>
				<td>
					<button class="button" (click)="removeRule(r._id)">Remove</button>
				</td>
			</tr>
		</table>
	</div>
</div>
