<!-- <div class="user-form" >
	<div style="text-align:center">
		<h1>
			Welcome to Game of Drones!
		</h1>
	</div>
	<div class="field control">
		<input [(ngModel)]="player1.name" placeholder="Player1" class="input" type="text">
	</div>
	<input [(ngModel)]="player2.name" placeholder="Player2" class="input" />
	<p class='center-btn-container'>
		<button (click)="startPlay()" class="button">Start game</button>
	</p>
</div> -->
<players-form *ngIf="!onPlay; else playContent" (onPlayersReady)="setPlayers($event)">
</players-form>

<ng-template #playContent>
	<div class="columns">
		<div class="column is-one-quarter">
			<player-info [player]="player1"></player-info>
			<player-info [player]="player2"></player-info>
			<!-- <div class="card">
				<div class="card-header">
					<p class="card-header-title">
						{{ player1.name }}
					</p>
				</div>
				<div class="card-content">
					<div class="content">
							<p class="is-size-7">{{ player1.record }}</p>
						<p class="is-size-1 has-text-centered">{{ player1.hits }}</p>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<p class="card-header-title">
						{{ player2.name }}
					</p>
				</div>
				<div class="card-content">
					<div class="content">
						<p class="is-size-7">{{ player2.record }}</p>
						<p class="is-size-1 has-text-centered">{{ player2.hits }}</p>
					</div>
				</div>
			</div> -->
		</div>
		<div class="column">
			<move [player]="currentPlayer" (onPlay)="play()"></move>
			<!-- <p class="is-size-2">{{ currentPlayer?.name }}'s turn</p>

			<div class="field control">
				<div class="select is-large">
					<select [(ngModel)]="this.currentPlayer.move">
						<option *ngFor="let m of moves | async">
							{{ m }}
						</option>
					</select>
				</div>
			</div>

			<button (click)="play()" class="button">Play</button> -->

			<div class="card" *ngIf="playFinished">
				<div class="card-header">
					<p class="card-header-title has-text-success">
						{{ winner.name }} is the winner !!!!!
					</p>
				</div>
				<div class="card-content">
					<button (click)="playAgain()" class=button>Play again!</button>
					<button (click)="exit()" class="button">Exit</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>
