<players-form *ngIf="!playersReady; else matchContent" (onPlayersReady)="setPlayers($event)">
</players-form>

<ng-template #matchContent>
	<div class="columns">
		<div class="column is-one-quarter">
			<player-info [player]="player1"></player-info>
			<player-info [player]="player2"></player-info>
		</div>
		<div class="column">
			<move [player]="currentPlayer" (onPlay)="play($event)"></move>
			<div class="card" *ngIf="this.match.winner">
				<div class="card-header">
					<p class="card-header-title has-text-success">
						{{ winner.name }} is the winner !!!!!
					</p>
				</div>
				<div class="card-content">
					<button (click)="playAgain()" class=button>Play again!</button>
					<button (click)="exit()" class="button">Exit</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>
